<div class="container  mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form class="form-horizontal"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="control-label col-sm-3">Username/Email</label>
        <div class="col-sm-12">
          <input type="text"
                 class="form-control"
                 formControlName="mail" placeholder="Enter email">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" >Password</label>
        <div class="col-sm-12">
          <input type="password"
                 class="form-control"
                 formControlName="password" placeholder="Enter password">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="form-group ml-3">
        <button class="btn btn-primary col-sm-3"
                  type="submit"
                  [disabled]="loginForm.invalid">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
