    <div class="row justify-content-center">

      <div class="form-group form-inline my-4">
        <h3>Full text search:</h3>
        <input class="form-control ml-2" type="text" [formControl]="filter" placeholder="Enter search term"/>
      </div>
    </div>

    <div class="row justify-content-center">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Breed</th>
          <th scope="col">Country</th>
          <th scope="col">Origin</th>
          <th scope="col">Coat</th>
          <th scope="col">Pattern</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cat of cats">
          <th scope="row">{{ cat.id }}</th>
          <td><ngb-highlight [result]="cat.breed" [term]="filter.value"> {{ cat.breed }}</ngb-highlight></td>
          <td><ngb-highlight [result]="cat.country" [term]="filter.value"></ngb-highlight>{{ cat.country }}</td>
          <td><ngb-highlight [result]="cat.origin" [term]="filter.value"></ngb-highlight> {{ cat.origin }}</td>
          <td><ngb-highlight [result]="cat.coat" [term]="filter.value"></ngb-highlight>{{ cat.coat }}</td>
          <td><ngb-highlight [result]="cat.pattern" [term]="filter.value"></ngb-highlight>{{ cat.pattern }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [directionLinks]="false">
        </ngb-pagination>
      </div>
    </div>
