
  <ul ngbNav class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="home">Home</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="login">Login</a>
    </li>
    <div *ngIf="visible()">
      <li [ngbNavItem]="3">
        <a ngbNavLink routerLink="profile">Profile</a>
      </li>

    </div>
    <div *ngIf="visible()">
      <li [ngbNavItem]="4">
        <button type = "button" class ="btn btn-dark navbar-btn" (click)="logout()">Logout</button>
      </li>
    </div>
  </ul>


  <div class="container align-items-center h-100">
    <router-outlet></router-outlet>
  </div>
