  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-sm">
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Simple">
            <ng-template ngbPanelContent>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Cras massa risus, luctus et congue quis, consectetur a libero.
                  Etiam at suscipit ex. Ut ut risus quis urna luctus dapibus.
                  Duis pellentesque nec dui non fringilla.
                  Cras hendrerit tortor in hendrerit lobortis.
                  Nam ac lectus nulla. </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-sm">
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Wow">
            <ng-template ngbPanelContent>
              <p>
                The cat (Felis catus) is a domestic species of small carnivorous mammal.
                 It is the only domesticated species in the family Felidae and is often referred to as the domestic cat to distinguish it from the wild members of the family.
                 A cat can either be a house cat, a farm cat or a feral cat; the latter ranges freely and avoids human contact.
                </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
      <div class="col-sm">
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="So good">
            <ng-template ngbPanelContent>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Cras massa risus, luctus et congue quis, consectetur a libero.
                  Etiam at suscipit ex. Ut ut risus quis urna luctus dapibus.
                  Duis pellentesque nec dui non fringilla.
                  Cras hendrerit tortor in hendrerit lobortis.
                  Nam ac lectus nulla. </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <app-table></app-table>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="d-flex justify-content-between p-2">
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Show me cats!</button>
      </div>
    </div>
  </div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="col-10 modal-title text-center" id="modal-basic-title">Cats help to relax</h5>
    <button type="col-2 button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-carousel></app-carousel>
  </div>
</ng-template>

